<ion-list *ngFor="let mobility of mobilityList">
  <ion-card (click)="selectedMobility.emit(mobility.id)">
    <ion-card-header>
      <ion-card-title>{{ mobility.name }} - {{ mobility.country }} - {{ mobility.city }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-content> {{ mobility.begin }}</ion-card-content>
      <ion-card-content> {{ mobility.end }}</ion-card-content>
      <ion-card-content> {{ mobility.created }}</ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-list>
