<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New Mobility
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #registerForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input id="name-input" name="name" type="text" [(ngModel)]="mobility.studentName" #nameInput=ngModel
                   required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Promotion</ion-label>
        <ion-input id="promotion-input" name="promotion" type="number"
                   [(ngModel)]="mobility.prom" #promotionInput=ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Destination country</ion-label>
        <ion-input id="country-input" name="country" type="text"
                   [(ngModel)]="mobility.destinationCountry" #countryInput=ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Destination city</ion-label>
        <ion-input id="city-input" name="city" type="text"
                   [(ngModel)]="mobility.city" #cityInput=ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Begin date</ion-label>
        <ion-input id="begin-date-input" name="begin" type="date"
                   [(ngModel)]="mobility.beginDate" #beginInput=ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">End date</ion-label>
        <ion-input id="end-date-input" name="end" type="date"
                   [(ngModel)]="mobility.endDate" #endInput=ngModel required></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-toolbar>
    <ion-button id="register-button" expand="full" (click)="mobilityRegister()">
      Register a new mobility
      <ion-icon slot="end" name="register-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-content>
